to-desktop-button{
    display: flex;
    align-items: end;
    justify-content: center;
    min-width: calc(var(--TaskbarHeight)/1.5);
}
to-desktop-button>button{
    height: 100%;
    width: 100%;
    writing-mode:vertical-rl;
    font-size: calc(var(--TaskbarHeight)/3);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--StartButtonHeight);
    box-sizing: border-box;
    background-color: var(--StartButtonBkgr);
    margin: var(--StartButtonMargin);
    padding: var(--StartButtonPadding);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) var(--StartButtonBorderType);
    border-radius: var(--StartButtonBorderRadius);
}

to-desktop-button>button>svg{
    isolation: isolate;
    width: var(--StartButtonIconSize);
    height: var(--StartButtonIconSize);
}

to-desktop-button>button:hover>svg>.hex1 {
    fill: #FF0000FF;
}

to-desktop-button>button:hover>svg>.hex2 {
    fill: #00FF00FF;
}

to-desktop-button>button:hover>svg>.hex3 {
    fill: #0000FFFF;
}
