/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*-------------------Desktop Version--------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

live-apps {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 100%;
}

live-apps>button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--LiveAppsHeight);
    color: var(--LiveAppsFontColor);
    background-color: var(--LiveAppsBkgr);
    padding-left: var(--LiveAppsPadding);
    padding-right: var(--LiveAppsPadding);
    margin: var(--LiveAppsMargin);
    border: var(--LiveAppsBorderWidth) var(--LiveAppsBorderColor) var(--LiveAppsBorderType);
    border-radius: var(--LiveAppsBorderRadius);
}

live-apps>button>svg {
    width: var(--LiveAppsIconSize);
    height: var(--LiveAppsIconSize);
}

live-apps>button>span {
    display: var(--LiveAppsFontVisibility);
    font-size: var(--LiveAppsFontSize);
    margin-left: 2px;
}

live-apps>button:hover:enabled {
    color: var(--LiveAppsFontColorHover);
    background-color: var(--LiveAppsBkgrHover);
}

live-apps>button:active:enabled {
    color: var(--LiveAppsFontColorActive);
    background-color: var(--LiveAppsBkgrActive);
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*--------------------Mobile Version--------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

live-apps-button {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

live-apps-button>button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--StartButtonHeight);
    box-sizing: border-box;
    background-color: var(--StartButtonBkgr);
    margin: var(--StartButtonMargin);
    padding: var(--StartButtonPadding);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) var(--StartButtonBorderType);
    border-radius: var(--StartButtonBorderRadius);
}

live-apps-button>button:hover:enabled {
    background-color: var(--StartButtonBkgrHover);
}

live-apps-button>button:active:enabled {
    background-color: var(--StartButtonBkgrActive);
}

live-apps-button>button>svg {
    isolation: isolate;
    width: var(--StartButtonIconSize);
    height: var(--StartButtonIconSize);
}

live-apps-button>button>span {
    display: var(--StartButtonFontVisibility);
    color: var(--StartButtonFontColor);
    font-size: var(--StartButtonFontSize);
}


live-apps-button>button>svg>.hex {
    transform-box: fill-box;
    transform-origin: center;
    fill:#00000000;
}

live-apps-button>button:hover>svg>.combRed {
    fill: #FF0000CC;
}

live-apps-button>button:hover>svg>.combGreen {
    fill: #00FF00CC;
}

live-apps-button>button:hover>svg>.combBlue {
    fill: #0000FFCC;
}

live-apps-button>button:hover>svg>.combYellow {
    fill: #FFFF00CC;
}

live-apps-button>button:hover>svg>.combCyan {
    fill: #00FFFFCC;
}

live-apps-button>button:hover>svg>.combMagenta {
    fill: #FF00FFCC;
}

live-apps-button>button:hover>svg>.combWhite {
    fill: #FFFFFFCC;
}

live-apps-button>button:hover>svg>.combBlack {
    fill: #000000CC;
}
