live-apps {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 100%;
}

live-apps>button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--LiveAppsHeight);
    color: var(--LiveAppsFontColor);
    background-color: var(--LiveAppsBkgr);
    padding-left: var(--LiveAppsPadding);
    padding-right: var(--LiveAppsPadding);
    margin: var(--LiveAppsMargin);
    border: var(--LiveAppsBorderWidth) var(--LiveAppsBorderColor) var(--LiveAppsBorderType);
    border-radius: var(--LiveAppsBorderRadius);
}

live-apps>button>svg {
    width: var(--LiveAppsIconSize);
    height: var(--LiveAppsIconSize);
}

live-apps>button>span {
    display: var(--LiveAppsFontVisibility);
    font-size: var(--LiveAppsFontSize);
    margin-left:2px;
}

live-apps>button:hover:enabled {
    color: var(--LiveAppsFontColorHover);
    background-color: var(--LiveAppsBkgrHover);
}

live-apps>button:active:enabled {
    color: var(--LiveAppsFontColorActive);
    background-color: var(--LiveAppsBkgrActive);
}


/*------------------------------------------------------------*/
/*-----------------------Classic Button-----------------------*/
/*------------------------------------------------------------*/

.liveAppsClassicActive {
    background-color: var(--LiveAppsBkgrActive);
    border: var(--LiveAppsBorderWidth) var(--LiveAppsBorderColor) inset;
}

.liveAppsClassic:active:enabled {
    background-color: var(--LiveAppsBkgrActive);
    border: var(--LiveAppsBorderWidth) var(--LiveAppsBorderColor) inset;
}

/*------------------------------------------------------------*/
/*-------------------------Aqua Button------------------------*/
/*------------------------------------------------------------*/

.liveAppsAqua>*:last-child {
    position: absolute;
    rotate: 180deg;
    translate: 0 95%;
    mask-image: linear-gradient(to bottom, transparent 60%, gray 100%);
}

.liveAppsAquaActive::before {
    content:"▲";
    font-size: 16px;
    position: absolute;
    bottom:0;
    color:black;
    text-shadow: 0 0 4px white;
}

/*------------------------------------------------------------*/
/*------------------------Aero Button-------------------------*/
/*------------------------------------------------------------*/

.liveAppsAero{
    box-shadow: 0 0 3px hsla(0, 0%, 100%, 0.5) inset;
    background-image: linear-gradient(170deg, hsla(0, 0%, 100%, 0.75) 2%, hsla(0, 0%, 100%, 0.4) 15%, transparent 40%, hsla(0, 0%, 100%, 0.1) 90%);
}

.liveAppsAeroActive {
    background-color: var(--LiveAppsBkgrActive);
}

.liveAppsAero>svg{
    filter: drop-shadow(0 0 2px hsla(0, 0%, 0%, 0.5));
}