to-desktop-button>button:has(.toDesktopIconClassicActive) {
    background-color: var(--StartButtonBkgrActive);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) inset;
}
to-desktop-button>button:active:enabled:has(.toDesktopIconClassic){
    background-color: var(--StartButtonBkgrActive);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) inset;
}

.toDesktopIconClassic>.hex1 {
    fill: #FF0000FF;
}

.toDesktopIconClassic>.hex2 {
    fill: #00FF00FF;
}

.toDesktopIconClassic>.hex3 {
    fill: #0000FFFF;
}