button>label {
  font-size: small;
  cursor: pointer;
}

#drawDocTopNavBar {
  color: inherit;
}
#drawDocTopNavBar>svg{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

#drawDocTopNavBar>button:enabled {
  color: inherit;
}

#drawDocTopNavBar>*>button:enabled {
  color: inherit;
}

#drawDocToolBar {
  display: flex;
  color: inherit;
  flex-direction: column;
  height: 100%;
  width: 30px;
  border-right: 1px var(--GeneralBorderColor) solid;
}

#drawDocToolBar>button {
  color: inherit;
  font-size: 25px;
}

canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#drawCanvas {
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: none;
  background: white;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#previewCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid black;
}

#drawDocSelectionBox {
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  cursor: move;
}

#drawDocSelectionBox>* {
  position: absolute;
  height: 10px;
  width: 10px;
  background: black;
  border: 2px solid white;
  box-sizing: border-box;
}

#drawDocSelectionBoxNW {
  top: -12px;
  left: -12px;
  cursor: nwse-resize;
}

#drawDocSelectionBoxN {
  top: -12px;
  left: 50%;
  cursor: ns-resize;
  transform: translateX(-50%);
}

#drawDocSelectionBoxNE {
  top: -12px;
  right: -12px;
  cursor: nesw-resize;
}

#drawDocSelectionBoxE {
  top: 50%;
  right: -12px;
  cursor: ew-resize;
  transform: translateY(-50%);
}

#drawDocSelectionBoxSE {
  bottom: -12px;
  right: -12px;
  cursor: nwse-resize;
}

#drawDocSelectionBoxS {
  bottom: -12px;
  left: 50%;
  cursor: ns-resize;
  transform: translateX(-50%);
}

#drawDocSelectionBoxSW {
  bottom: -12px;
  left: -12px;
  cursor: nesw-resize;
}

#drawDocSelectionBoxW {
  top: 50%;
  left: -12px;
  cursor: ew-resize;
  transform: translateY(-50%);
}

#drawDocSelectionBoxNW {
  top: -12px;
  left: -12px;
  cursor: nwse-resize;
}

#drawDocSelectionBoxDragPivot{
  top:-44px;
  left:50%;
  transform: translateY(75%);
  rotate:45deg;
  cursor:move;
}

#drawDocSelectionBoxDragPivot::before{
  position: relative;
  display: block;
  content: "";
  top: 4px;
  left: 15.5px;
  height: 24px;
  width: 0px;
  rotate:-45deg;
  border-left: 2px dashed white;
}

#drawDocSelectionCircle {
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  cursor: move;
  border-radius: 50%;
}

#drawDocSelectionCircle>* {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 10px;
  background: black;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  cursor:
    url("./Assets/Font Awesome 6/arrows-rotate.svg") 64 64,
    auto;
}

#drawDocSelectionCircle>*::before {
  position: relative;
  display: block;
  content: "";
  top: 10px;
  left: 1.5px;
  height: 28px;
  width: 0px;
  border-left: 2px dashed white;
}

#drawDocSelectionEllipse {
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  border-radius: 50%;
  cursor: move;
}

#drawDocSelectionBoxText {
  position: absolute;
  resize: none;
  border: none;
  outline: none;
  color: transparent;
  background: transparent;
  overflow-y: visible;
}

#drawDocBottomNavBar {
  color: inherit;
  border-top: 1px var(--GeneralBorderColor) solid;
}

.cursorBrush {
  cursor:
    url("./Assets/GameIconsSVG/paint-brush-resized.svg") 52 75,
    auto;
}

.cursorBucket {
  cursor:
    url("./Assets/ThemifyIconsSVG/paint-bucket.svg") 2 28,
    auto;
}

.cursorPipette {
  cursor:
    url("./Assets/Css.gg/color-picker.svg") 4 20,
    auto;
}

.cursorSpray {
  cursor:
    url("./Assets/ThemifyIconsSVG/spray.svg") 0 2,
    auto;
}

.cursorEraser {
  cursor:
    url("./Assets/ThemifyIconsSVG/eraser.svg") 2 28,
    auto;
}

.cursorText,
.cursorMagnifier,
.cursorSelect,
.cursorShape {
  cursor: crosshair;
}