button>label {
  font-size: small;
  cursor: pointer;
}

#drawDocTopNavBar {
  color: inherit;
}

#drawDocTopNavBar>button:enabled {
  color: inherit;
}

#drawDocTopNavBar>*>button:enabled {
  color: inherit;
}

#drawDocToolBar {
  display: flex;
  color: inherit;
  flex-direction: column;
  height: 100%;
  width: 30px;
  border-right: 1px var(--GeneralBorderColor) solid;
}

#drawDocToolBar>button {
  color: inherit;
  font-size: 25px;
}

canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#drawCanvas {
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: none;
  background: white;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#previewCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid black;
}

#drawDocSelectionBox {
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  cursor: move;
}

#drawDocSelectionBox>*{
  position:absolute;
  height:10px;
  width:10px;
  background: white;
  border: 2px solid black;
}
#drawDocSelectionBoxNW{
  top: -10px;
  left: -10px;
  cursor: nwse-resize;
}
#drawDocSelectionBoxN{
  top: -10px;
  left: 50%;
  cursor: ns-resize;
  transform: translateX(-50%);
}
#drawDocSelectionBoxNE{
  top: -10px;
  right: -10px;
  cursor: nesw-resize;
}
#drawDocSelectionBoxE{
  top: 50%;
  right: -10px;
  cursor: ew-resize;
  transform: translateY(-50%);
}
#drawDocSelectionBoxSE{
  bottom: -10px;
  right: -10px;
  cursor: nwse-resize;
}
#drawDocSelectionBoxS{
  bottom: -10px;
  left: 50%;
  cursor: ns-resize;
  transform: translateX(-50%);
}
#drawDocSelectionBoxSW{
  bottom: -10px;
  left: -10px;
  cursor: nesw-resize;
}
#drawDocSelectionBoxW{
  top: 50%;
  left: -10px;
  cursor: ew-resize;
  transform: translateY(-50%);
}
#drawDocSelectionBoxNW{
  top: -10px;
  left: -10px;
  cursor: nwse-resize;
}
#drawDocSelectionCircle{
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  cursor: move;
  border-radius: 50%;
  pointer-events: none;
}
#drawDocSelectionEllipse{
  position: absolute;
  background: transparent;
  border: 2px dashed white;
  mix-blend-mode: difference;
  cursor: move;
  border-radius: 50%;
  pointer-events: none;
}

canvas-container>textarea {
  position: absolute;
  background: transparent;
  border-style: dashed;
  width: auto;
}

#drawDocBottomNavBar {
  color: inherit;
  border-top: 1px var(--GeneralBorderColor) solid;
}

.cursorBrush {
  cursor:
    url("./Assets/GameIconsSVG/paint-brush-resized.svg") 52 75,
    auto;
}

.cursorBucket {
  cursor:
    url("./Assets/ThemifyIconsSVG/paint-bucket.svg") 2 28,
    auto;
}

.cursorPipette {
  cursor:
    url("./Assets/Css.gg/color-picker.svg") 4 20,
    auto;
}

.cursorSpray {
  cursor:
    url("./Assets/ThemifyIconsSVG/spray.svg") 0 2,
    auto;
}

.cursorEraser {
  cursor:
    url("./Assets/ThemifyIconsSVG/eraser.svg") 2 28,
    auto;
}

.cursorText {
  cursor: text;
}

.cursorMagnifier,
.cursorSelect,
.cursorShape {
  cursor: crosshair;
}