task-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: var(--TaskbarHeight);
  width: 100%;
  background-color: var(--TaskbarBkgr);
  background-image: var(--TaskbarBkgrImage);
  background-position: var(--TaskbarBkgrPosition);
  background-size: var(--TaskbarBkgrSize);
  background-repeat: var(--TaskbarBkgrRepeat);
  backdrop-filter: var(--TaskbarBackdropFilter);
  border-top: var(--TaskbarHorizontalBorderWidth) var(--TaskbarHorizontalBorderColor) var(--TaskbarHorizontalBorderType);
}

task-bar>vertical-rect {
  height: 100%;
  width:0;
  border:none;
  border-left: var(--TaskbarVerticalBorderWidth) var(--TaskbarVerticalBorderColor) var(--TaskbarVerticalBorderType);
}
