task-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: var(--TaskbarHeight);
  width: 100%;
  background-color: var(--TaskbarBkgr);
  background-image: var(--TaskbarBkgrImage);
  background-position: var(--TaskbarBkgrPosition);
  background-size: var(--TaskbarBkgrSize);
  background-repeat: var(--TaskbarBkgrRepeat);
  backdrop-filter: var(--TaskbarBackdropFilter);
  border-top: var(--TaskbarHorizontalBorderWidth) var(--TaskbarHorizontalBorderColor) var(--TaskbarHorizontalBorderType);
}

task-bar>vertical-rect {
  height: 100%;
  width:0;
  border:none;
  border-left: var(--TaskbarVerticalBorderWidth) var(--TaskbarVerticalBorderColor) var(--TaskbarVerticalBorderType);
}

taskbar-tray {
  display: flex;
  flex-direction: row;
  background: var(--TaskbarTrayBkgr);
  padding: var(--TaskbarTrayPadding);
  margin: var(--TaskbarTrayMargin);
  border: var(--TaskbarTrayBorderColor) var(--TaskbarTrayBorderWidth) var(--TaskbarTrayBorderType);
  border-radius: var(--TaskbarTrayBorderRadius);
}

taskbar-tray>button{
  color: var(--TaskbarTrayButtonColor);
  background: var(--TaskbarTrayButtonBkgr);
  margin: var(--TaskbarTrayButtonMargin);
  padding: var(--TaskbarTrayButtonPadding);
  border: var(--TaskbarTrayButtonBorderColor) var(--TaskbarTrayButtonBorderWidth) var(--TaskbarTrayButtonBorderType);
  border-radius: var(--TaskbarTrayButtonBorderRadius);
}

taskbar-tray>button:hover{
  color: var(--TaskbarTrayButtonColorHover);
  background: var(--TaskbarTrayButtonBkgrHover);
}

taskbar-tray>button:active{
  color: var(--TaskbarTrayButtonColorActive);
  background: var(--TaskbarTrayButtonBkgrActive);
}

taskbar-tray>button>svg{
  width: var(--TaskbarIconSize);
  height: var(--TaskbarIconSize);
}

taskbar-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: var(--TaskbarHeight);
  height: auto;
  width: auto;
  max-width:350px;
  box-sizing: border-box;
  padding: var(--TaskbarWindowPadding);
  border: var(--TaskbarWindowBorderColor) var(--TaskbarWindowBorderWidth) var(--TaskbarWindowBorderType);
  border-radius: var(--TaskbarWindowBorderRadius);
  color: var(--ClockFontColor);
  background: var(--TaskbarWindowBkgr);
  overflow: hidden;
  transition: 1s ease-in-out 0s;
}

taskbar-window-header {
  display: flex;  
  flex-direction: row;
  width: 100%;
  color: var(--TaskbarWindowHeaderColor);
  background: var(--TaskbarWindowHeaderBkgr);
  margin: var(--TaskbarWindowHeaderMargin);
  padding: var(--TaskbarWindowHeaderPadding);
  border: var(--TaskbarWindowHeaderBorderColor) var(--TaskbarWindowHeaderBorderWidth) var(--TaskbarWindowHeaderBorderType);
  border-radius: var(--TaskbarWindowHeaderBorderRadius);
}

taskbar-window-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: var(--TaskbarWindowNavColor);
  background: var(--TaskbarWindowNavBkgr);
  margin: var(--TaskbarWindowNavMargin);
  padding: var(--TaskbarWindowNavPadding);
  border: var(--TaskbarWindowNavBorderColor) var(--TaskbarWindowNavBorderWidth) var(--TaskbarWindowNavBorderType);
  border-radius: var(--TaskbarWindowNavBorderRadius);
}

taskbar-window-body {
  color: var(--TaskbarWindowBodyColor);
  background: var(--TaskbarWindowBodyBkgr);
  margin: var(--TaskbarWindowBodyMargin);
  padding: var(--TaskbarWindowBodyPadding);
  border: var(--TaskbarWindowBodyBorderColor) var(--TaskbarWindowBodyBorderWidth) var(--TaskbarWindowBodyBorderType);
  border-radius: var(--TaskbarWindowBodyBorderRadius);
}

taskbar-window-footer {
  color: var(--TaskbarWindowFooterColor);
  background: var(--TaskbarWindowFooterBkgr);
  margin: var(--TaskbarWindowFooterMargin);
  padding: var(--TaskbarWindowFooterPadding);
  border: var(--TaskbarWindowFooterBorderColor) var(--TaskbarWindowFooterBorderWidth) var(--TaskbarWindowFooterBorderType);
  border-radius: var(--TaskbarWindowFooterBorderRadius);
}