task-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: var(--TaskbarHeight);
  width: 100%;
  background-color: var(--TaskbarBkgr);
  background-image: var(--TaskbarBkgrImage);
  background-position: var(--TaskbarBkgrPosition);
  background-size: var(--TaskbarBkgrSize);
  background-repeat: var(--TaskbarBkgrRepeat);
  backdrop-filter: var(--TaskbarBackdropFilter);
}

live-apps {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-left: 2px dimgray solid;
  border-right: 2px dimgray solid;
  margin: 2px;
}

live-apps>button {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--TaskbarFontColor);
  font-size: var(--TaskbarIconSize);
}

live-apps>button>svg {
  width: var(--TaskbarIconSize);
  height: var(--TaskbarIconSize);
}
