portfolio-presentation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    height: 80%;
    background: hsla(0, 0%, 10%, 0.9);
    overflow: scroll;
    color: white;
    scroll-behavior: snap;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
}
portfolio-presentation>nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: hsla(0, 0%, 100%, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1001;
}

portfolio-presentation>nav>div{
    cursor: pointer;
}
portfolio-presentation>nav>div:hover{
    text-decoration: underline;
}

portfolio-presentation>div{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    scroll-snap-align: start;
}

#presentationProjects{
    height:300%;
    width: 100%;
}
#presentationProjects>div{
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}

.presentationSkillCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    background-color: white;
    padding:1vh;
    margin: 1vh;
    border:1px silver solid;
    border-radius: 5px;
    cursor: pointer;
}

.presentationSkillCard>img{
    width: 5vh;
    height: 5vh;
}

.presentationSkillCard>p{
    font-size: 2vh;
    font-weight: bold;
    margin:0;
    padding: 0;
    text-align: center;
    text-wrap: wrap;
    color:black;
}

.presentationSkillCard:hover>p{
    text-decoration: underline;
}