#androidToolsMenu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#androidToolsMenu>button{
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid var(--AppBorderColor);
    color: var(--AppFontColor);
}

#androidToolsMenu>button>svg{
    color: inherit;
    width: 60px;
    height: 60px;
}