live-apps-button>button:has(.liveAppsButtonAero) {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    width:var(--StartButtonHeight) !important;
    border-radius:calc(var(--StartButtonHeight)/2);
    border: 1px hsla(216, 47%, 53%, 1) solid;
    box-shadow: 0 0 0px 0px hsla(0, 0%, 100%, 0.5) inset;
    transition: 0.5s;
}
live-apps-button>button:has(.liveAppsButtonAero)>svg {
    width: calc(var(--StartButtonIconSize)*0.9);
    height: calc(var(--StartButtonIconSize)*0.9);    
}

live-apps-button>button:hover:enabled:has(.liveAppsButtonAero){
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.5) inset;
}

live-apps-button>button:active:enabled:has(.liveAppsButtonAero) {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.75) inset;
}

live-apps-button>button:active:enabled:has(.liveAppsButtonAeroActive) {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.75) inset;
}