app-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-width: var(--AppBorderWidth);
    border-style: var(--AppBorderType);
    border-radius: var(--AppBorderRadius);
    overflow: hidden;
}

app-container>nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    font-size: 25px;
    color: var(--WindowMenuNavButtonColor);
    background-color: var(----WindowMenuNavBkgr);
    padding-left: 0;
    border-bottom: 1px var(--WindowMenuNavButtonBorderColor) solid;
}

app-container>nav>button {
    position: relative;
    color: inherit;
    height: inherit;
    font-size: inherit;
    width: fit-content;
}

app-container>nav>drop-down {
    position: relative;
    color: inherit;
    height: inherit;
    font-size: inherit;
    width: fit-content;
}

app-container>nav>drop-down>button {
    position: relative;
    color: inherit;
    height: 32px;
    font-size: 16px;
    width: fit-content;
}

app-container>nav>button>input[type="color"] {
    width: 25px;
}
