app-dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--DialogBorderWidth) var(--DialogBorderColor) var(--DialogBorderType);
    border-radius: var(--DialogBorderRadius);
    transition: 0.2s;
    background-color: var(--DialogBkgrColor);
    color: var(--DialogFontColor);
    box-shadow: var(--WindowShadowXOffset) var(--WindowShadowYOffset) var(--WindowShadowBlur) var(--WindowShadowSpread) var(--WindowShadowColor);
    background-image: var(--DialogBkgrImage);
    background-position: var(--DialogBkgrPosition);
    background-size: var(--DialogBkgrSize);
    background-repeat: var(--DialogBkgrRepeat);
    backdrop-filter: var(--DialogBackdropFilter);
}

app-dialog-top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    font-size: var(--DialogTopBarFontSize);
    color: var(--DialogTopBarFontColor);
    background: var(--DialogTopBarBkgr);
    user-select: none;
}

app-dialog-info {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: var(--DialogInfoFontSize);
    color: var(--DialogInfoFontColor);
    width: calc(100% - 2 * var(--DialogPadding));
    height: 100%;
    background-color: var(--DialogInfoBkgr);
    border: var(--DialogInfoBorderColor) var(--DialogInfoBorderWidth) var(--DialogInfoBorderType);
    border-radius: var(--DialogInfoBorderRadius);
    overflow: hidden;
}

app-dialog-info>div{
    margin: 10px;
}

app-dialog-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background:var(--DialogButtonBarBkgr);
}

app-dialog-actions>button { 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    color: var(--DialogButtonFontColor);
    cursor: pointer;
}
