.appMenuBar {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

app-window>.appMenuBar {
    margin-left: var(--WindowPadding);
    margin-right: var(--WindowPadding);
    margin-bottom: var(--WindowPadding);
}

.appMenuBar>button {
    font-size: var(--WindowMenuFontSize);
    background-color: var(--WindowMenuNavButtonBkgrColor);
    color: var(--WindowMenuNavButtonColor);
    border: var(--WindowMenuNavButtonBorderColor) var(--WindowMenuNavButtonBorderWidth) var(--WindowMenuNavButtonBorderType);
    border-radius: var(--WindowMenuNavButtonBorderRadius);
}

.appMenuBar>button:hover:enabled {
    color: var(--WindowMenuNavButtonHoverColor);
    background: var(--WindowMenuNavButtonHoverBkgr);
}

drop-down>ul {
    display: grid;
    position: absolute;
    color: inherit;
    padding: 0px;
    margin: 0px;
    background: var(--WindowMenuBkgr);
    border: var(--WindowMenuBorderWidth) var(--WindowMenuBorderColor) var(--WindowMenuBorderType);
    border-radius: var(--WindowMenuBorderRadius);
    z-index: 1;
    transition: 0.2s;
    translate:  1px calc(var(--WindowMenuFontSize) + 2 * var(--WindowMenuBorderWidth) + 6px);
    overflow: hidden;
}

drop-down>ul>li {
    list-style-type: none;
    margin: 0px;
}

drop-down>ul>li>button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    align-items: start;
    justify-content: space-between;
    font-size: var(--WindowMenuFontSize);
    color: var(--WindowMenuFontColor);
    margin: 0px;
}

drop-down>ul>li>button>kbd {
    opacity: 0.5;
}

drop-down>ul>li>button>span {
    width: 20px;
}

drop-down>ul>li>button:hover:enabled {
    color: var(--WindowMenuHoverColor);
    background: var(--WindowMenuHoverBkgr);
}

drop-down>ul>li>hr{
    border-bottom:none;
    border-left: none;
    border-right: none;
    border-top: var(--WindowMenuBorderColor) max(var(--WindowMenuBorderWidth), 1px) solid;
    font-size: 5px;
}