app-resizer {
    position: absolute;
}

app-resizer.n {
    top: calc(-1* var(--WindowBorderWidth));
    right: 0;
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    width: inherit;
    cursor: n-resize;
}

app-resizer.s {
    bottom: calc(-1* var(--WindowBorderWidth));
    right: 0;
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    width: inherit;
    cursor: s-resize;
}

app-resizer.w {
    top: calc(-1* var(--WindowBorderWidth));
    left: calc(-1* var(--WindowBorderWidth));
    height: inherit;
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-width: 6px;
    cursor: w-resize;
}

app-resizer.e {
    top: calc(-1* var(--WindowBorderWidth));
    right: calc(-1* var(--WindowBorderWidth));
    height: inherit;
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-width: 6px;
    cursor: e-resize;
}

app-resizer.nw {
    top: calc(-1* var(--WindowBorderWidth));
    left: calc(-1* var(--WindowBorderWidth));
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    min-width: 6px;
    cursor: nw-resize;
}

app-resizer.ne {
    top: calc(-1* var(--WindowBorderWidth));
    right: calc(-1* var(--WindowBorderWidth));
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    min-width: 6px;
    cursor: ne-resize;
}

app-resizer.se {
    bottom: calc(-1* var(--WindowBorderWidth));
    right: calc(-1* var(--WindowBorderWidth));
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    min-width: 6px;
    cursor: se-resize;
}

app-resizer.sw {
    bottom: calc(-1* var(--WindowBorderWidth));
    left: calc(-1* var(--WindowBorderWidth));
    height: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    width: calc(var(--WindowBorderWidth) + var(--WindowPadding));
    min-height: 6px;
    min-width: 6px;
    cursor: sw-resize;
}