app-top-bar {
    display: flex;
    flex-direction: var(--WindowTopBarFlexDirection);
    align-items: center;
    height: var(--WindowTopBarHeight);
    width: 100%;
    padding-left: calc(4px + var(--WindowPadding));
    padding-right: calc(4px + var(--WindowPadding));
    margin-bottom: var(--WindowPadding);
    box-sizing: border-box;
}

app-top-bar>h1 {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    overflow: hidden;
    justify-content: var(--WindowTopBarFontAlign);
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--WindowTopBarFontSize);
    padding: 4px;
    user-select: none;
}

app-top-bar>svg {
    height: var(--WindowTopBarIconSize);
    width: var(--WindowTopBarIconSize);
    padding: 2px;
    flex-shrink: 0;
}
