app-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-style: var(--WindowBorderType);
    box-shadow: var(--WindowShadowXOffset) var(--WindowShadowYOffset) var(--WindowShadowBlur) var(--WindowShadowSpread) var(--WindowShadowColor);
    transition: 0.2s;
    box-sizing: border-box;
    background-image: var(--WindowBkgrImage);
    background-position: var(--WindowBkgrPosition);
    background-size: var(--WindowBkgrSize);
    background-repeat: var(--WindowBkgrRepeat);
    backdrop-filter: var(--WindowBackdropFilter);
  }
  