app-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: var(--WindowBorderWidth) var(--WindowBorderColor) var(--WindowBorderType);
    border-radius: var(--WindowBorderRadius);
    box-shadow: var(--WindowShadowXOffset) var(--WindowShadowYOffset) var(--WindowShadowBlur) var(--WindowShadowSpread) var(--WindowShadowColor);
    transition: 0.2s;
    box-sizing: border-box;
  }
  