settings-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

settings-container>nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

settings-container>nav>* {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: start;
  align-items: center;
}

.defSubMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
  max-height: 100%;
  overflow-x: hidden;
}

.defSubMenuHidden {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.defSubMenu>* {
  border-left: 5px solid;
  margin-left: 5px;
}

.defSubMenu:hover {
  background: none;
}

.defMenu {
  display: flex;
  justify-content: space-around;
}

.defMenuButton {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: left;
  text-align: start;
  align-items: center;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

.defMenuButton:hover {
  background: rgb(140, 140, 140);
}

.defMenuButtonON {
  background: white;
  color: black;
}

/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/

.defFormButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background: black;
}

.defFormButton:hover {
  background: dimgray;
  color: white;
}

.defFormButton:active {
  background: white;
  color: black;
}

.defFormButton:hover:active {
  background: white;
  color: black;
}

.defFormButtonON {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  background: white;
  color: black;
}
.defFormButtonON:hover:enabled {
  background: white;
  color: black;
}
.defFormButtonON:active:enabled {
  background: white;
  color: black;
}
.defFormButtonON:hover:active:enabled {
  background: white;
  color: black;
}

settings-container>form {
  width: 100%;
  height: 100%;
  overflow: auto;
}

settings-container>form>fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
}

settings-container>form>fieldset>legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

settings-container>form>fieldset>div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid;
  border-radius: 5px;
}

settings-container>form>fieldset>div>label {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
}

settings-container>form>fieldset>fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
}

settings-container>form>fieldset>fieldset>legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

settings-container>form>fieldset>fieldset>div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid;
  border-radius: 5px;

}

settings-container>form>fieldset>fieldset>div>label {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
}

settings-container>form>fieldset>fieldset>fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
}

settings-container>form>fieldset>fieldset>fieldset>legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

settings-container>form>fieldset>fieldset>fieldset>div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid;
  border-radius: 5px;

}

settings-container>form>fieldset>fieldset>fieldset>div>label {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
}

.defPreview {
  position: sticky;
  top: 0;
  left: 0;
  height: 200px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--DesktopBkgrColor);
  background-image: var(--DesktopBkgrImage);
  background-position: var(--DesktopBkgrPosition);
  background-size: var(--DesktopBkgrSize);
  background-repeat: var(--DesktopBkgrRepeat);
  background-attachment: var(--DesktopBkgrAttachment);
  overflow: hidden;
  margin: 10px;
}

@media (max-width: 600px) {
  #defContainer {
    flex-direction: column;
  }

  #defSideBar {
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  #defSideBar>* {
    border-right: solid 1px white;
  }

  .defPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}