:root {
  --GeneralButtonFontColor: hsl(0, 0%, 75%);
  --GeneralButtonFontColorDisabled: hsl(0, 0%, 50%);
  --GeneralButtonColorHover: hsla(0, 0%, 100%, 0.2);
  --GeneralButtonColorActive: hsla(0, 0%, 100%, 0.5);
  --GeneralFontFamily: Monospace;
  --GeneralBorderColor: hsl(0, 0%, 41%);
  
  --DesktopBkgrColor: hsl(210, 100%, 34%);
  --DesktopBkgrImage: none;
  --DesktopBkgrPosition: "top left";
  --DesktopBkgrSize: "auto";
  --DesktopBkgrRepeat: "no-repeat";
  --DesktopBkgrAttachment: "fixed";
  --DesktopFontColor: hsl(0, 0%, 100%);
  --DesktopFontSize: 16px;
  --DesktopIconSize: 80px;

  --WindowBkgrImage: none;
  --WindowBkgrPosition: none;
  --WindowBkgrSize: none;
  --WindowBkgrRepeat: none;
  --WindowBackdropFilter: none;
  --WindowBkgrColor: hsla(0, 0%, 18%,1);
  --WindowBkgrColorInactive: hsla(0, 0%, 0%,1);
  --WindowFontColor: hsl(0, 0%, 75%);
  --WindowFontColorInactive: hsl(0, 0%, 50%);
  --WindowFontSize: 32px;
  --WindowBorderColor: hsla(0, 0%, 18%, 1);
  --WindowBorderColorInactive: hsla(0, 0%, 18%, 1);
  --WindowBorderWidth: 2px;
  --WindowBorderRadius: 0px;
  --WindowBorderType: solid;
  --WindowTopBarFlexDirection: row;
  --WindowTopBarBkgrColor: hsla(0, 0%, 18%, 1);
  --WindowTopBarBkgrColorInactive: hsla(0, 0%, 5%, 1);
  --WindowTopBarHeight: 40px;
  --WindowTopBarIconSize: 34px;
  --WindowTopBarFontSize: 32px;
  --WindowTopBarFontAlign: left;
  --WindowTopBarFontColor: hsl(0, 0%, 75%);
  --WindowTopBarFontColorInactive: hsl(0, 0%, 50%);
  --WindowShadowXOffset: 2px;
  --WindowShadowYOffset: 2px;
  --WindowShadowBlur: 5px;
  --WindowShadowSpread: 0px;
  --WindowShadowColor: hsla(0, 0%, 0%, 0.5);
  --WindowPadding: 0px;

  --WindowMenuFontColor: hsl(0, 0%, 75%);
  --WindowMenuFontSize: 16px;
  --WindowMenuNavBkgr: hsla(0, 0%, 0%, 0);
  --WindowMenuNavBkgrInactive: hsla(0, 0%, 0%, 0);
  --WindowMenuNavButtonBkgr: hsla(0, 0%, 18%, 0.95);
  --WindowMenuNavButtonColor: hsl(0, 0%, 75%);
  --WindowMenuNavButtonBorderColor: hsl(0, 0%, 50%);
  --WindowMenuNavButtonBorderWidth: 1px;
  --WindowMenuNavButtonBorderRadius: 0px;
  --WindowMenuNavButtonBorderType: solid;
  --WindowMenuNavButtonHoverBkgr: hsla(0, 0%, 100%, 0.2);
  --WindowMenuNavButtonHoverFontColor: hsl(0, 0%, 75%);
  --WindowMenuBkgr: hsla(0, 0%, 18%, 0.95);
  --WindowMenuBorderColor: hsl(0, 0%, 50%);
  --WindowMenuBorderWidth: 1px;
  --WindowMenuBorderRadius: 0px;
  --WindowMenuBorderType: solid;
  --WindowMenuHoverColor: hsl(0, 0%, 75%);
  --WindowMenuHoverBkgr: hsla(0, 0%, 100%, 0.2);

  --AppFontColor: hsl(0, 0%, 75%);
  --AppFontColorInactive: hsl(0, 0%, 50%);
  --AppBkgrColor: hsla(0, 0%, 18%, 1);
  --AppBkgrColorInactive: hsla(0, 0%, 5%, 1);
  --AppBorderColor: hsla(0, 0%, 50%);
  --AppBorderColorInactive: hsla(0, 0%, 25%);
  --AppBorderWidth: 1px;
  --AppBorderRadius: 0px;
  --AppBorderType: solid;

  --DialogBkgrImage: none;
  --DialogBkgrPosition: none;
  --DialogBkgrSize: none;
  --DialogBkgrRepeat: none;
  --DialogBackdropFilter: none;
  --DialogBkgrColor: hsla(0, 0%, 18%, 1);
  --DialogBorderColor: hsla(0, 0%, 50%, 1);
  --DialogBorderWidth: 1px;
  --DialogBorderRadius: 0px;
  --DialogBorderType: solid;
  --DialogPadding: 0px;
  --DialogInfoBkgr: hsla(0, 0%, 18%, 1);
  --DialogInfoFontColor: hsl(0, 0%, 75%);
  --DialogInfoFontSize: 16px;
  --DialogInfoBorderColor: hsla(0, 0%, 18%, 1);
  --DialogInfoBorderWidth: 0px;
  --DialogInfoBorderRadius: 0px;
  --DialogInfoBorderType: solid;
  --DialogTopBarBkgr: hsla(0, 0%, 41%, 1);
  --DialogTopBarFontSize: 20px;
  --DialogTopBarFontColor: rgb(191, 191, 191);
  --DialogButtonBarBkgr: hsla(0, 0%, 0%, 0);
  --DialogButtonBkgr: hsl(0, 0%, 18%);
  --DialogButtonFontColor: hsl(0, 0%, 75%);
  --DialogButtonFontSize: 16px;
  --DialogButtonBorderColor: hsl(0, 0%, 50%);
  --DialogButtonBorderWidth: 1px;
  --DialogButtonBorderRadius: 0px;
  --DialogButtonBorderType: solid;

  --ContextMenuBkgr: hsla(0, 0%, 18%, 0.95);
  --ContextMenuFontColor: hsl(0, 0%, 75%);
  --ContextMenuFontSize: 16px;
  --ContextMenuBorderColor: hsl(0, 0%, 18%);
  --ContextMenuBorderWidth: 1px;
  --ContextMenuBorderRadius: 0px;
  --ContextMenuBorderType: solid;
  --ContextMenuButtonHoverColor: hsl(0, 0%, 75%);
  --ContextMenuButtonHoverBkgr: hsla(0, 0%, 100%, 0.2);
  --ContextMenuPadding: 5px;

  --TaskbarBkgrImage: none;
  --TaskbarBkgrPosition: none;
  --TaskbarBkgrSize: none;
  --TaskbarBkgrRepeat: none;
  --TaskbarBackdropFilter: none;
  --TaskbarBkgr: hsla(0, 0%, 0%, 0.8);
  --TaskbarHeight: 36px;
  --TaskbarIconSize: 28px;
  --TaskbarFontColor: hsl(0, 0%, 75%);
  --TaskbarFontSize: 13px;
  --TaskbarClockColor: hsl(0, 0%, 75%);
  --TaskbarWeatherColor: hsl(0, 0%, 75%);
  --TaskbarVerticalBorderWidth: 2px;
  --TaskbarVerticalBorderColor: hsla(0, 0%, 50%, 1);
  --TaskbarVerticalBorderType: solid;
  --TaskbarHorizontalBorderWidth: 0px;
  --TaskbarHorizontalBorderColor: hsla(0, 0%, 50%, 1);
  --TaskbarHorizontalBorderType: solid;

  --StartButtonBkgr: hsla(0, 0%, 0%, 0);
  --StartButtonBkgrHover: hsla(0, 0%, 100%, 0.25);
  --StartButtonBkgrActive: hsla(0, 0%, 100%, 0.5);
  --StartButtonIconSize: 28px;
  --StartButtonHeight: 28px;
  --StartButtonMargin: 0px;
  --StartButtonPadding: 0px;
  --StartButtonBorderWidth: 0px;
  --StartButtonBorderType: none;
  --StartButtonBorderColor: hsla(0, 0%, 0%, 0);
  --StartButtonBorderRadius: 0px;
  --StartButtonFontColor: hsl(0, 0%, 75%);
  --StartButtonFontSize: 16px;
  --StartButtonFontVisibility: none;

  --StartMenuBkgrImage: none;
  --StartMenuBkgrPosition: none;
  --StartMenuBkgrSize: none;
  --StartMenuBkgrRepeat: none;
  --StartMenuBackdropFilter: none;
  --StartMenuBkgrColor: hsla(0, 0%, 0%, 0.9);
  --StartMenuFlexDirection: row;
  --StartMenuPadding: 0px;
  --StartMenuBorderWidth: 0px;
  --StartMenuBorderRadius: 0px;
  --StartMenuBorderColor: hsla(0, 0%, 50%, 1);
  --StartMenuBorderType: solid;
  --StartMenuPrimaryBkgr: hsla(0, 0%, 0%, 0.9);
  --StartMenuPrimaryBkgrHover: hsla(0, 0%, 100%, 0.25);
  --StartMenuPrimaryBkgrActive: hsla(0, 0%, 100%, 0.5);
  --StartMenuPrimaryFontColor: hsl(0, 0%, 75%);
  --StartMenuPrimaryFontColorHover: hsl(0, 0%, 75%);
  --StartMenuPrimaryFontColorActive: hsl(0, 0%, 75%);
  --StartMenuPrimaryFontSize: 24px;
  --StartMenuPrimaryIconSize: 24px;
  --StartMenuPrimaryMargin: 0px;
  --StartMenuPrimaryPadding: 0px;
  --StartMenuPrimaryBorderWidth: 0px;
  --StartMenuPrimaryBorderRadius: 0px;
  --StartMenuPrimaryBorderColor: hsla(0, 0%, 50%, 1);
  --StartMenuPrimaryBorderType: solid;
  --StartMenuSecondaryBkgr: hsla(0, 0%, 100%, 0);
  --StartMenuSecondaryBkgrHover: hsla(0, 0%, 100%, 0.25);
  --StartMenuSecondaryBkgrActive: hsla(0, 0%, 100%, 0.5);
  --StartMenuSecondaryFontVisibility: none;
  --StartMenuSecondaryFontColor: hsl(0, 0%, 75%);
  --StartMenuSecondaryFontColorHover: hsl(0, 0%, 75%);
  --StartMenuSecondaryFontColorActive: hsl(0, 0%, 75%);
  --StartMenuSecondaryFontSize: 24px;
  --StartMenuSecondaryIconSize: 24px;
  --StartMenuSecondaryMargin: 0px;
  --StartMenuSecondaryPadding: 0px;
  --StartMenuSecondaryBorderWidth: 1px;
  --StartMenuSecondaryBorderRadius: 0px;
  --StartMenuSecondaryBorderColor: hsla(0, 0%, 50%, 1);
  --StartMenuSecondaryBorderType: solid;

  --StartMenuMobileTransition: 0.3s;
  --StartMenuMobileOuterBkgr: hsla(0, 0%, 0%, 0.5);
  --StartMenuMobileOuterShadowColor: hsla(0, 0%, 0%, 1);
  --StartMenuMobileOuterShadowBlur: 50px;
  --StartMenuMobileOuterShadowSpread: 0px;
  --StartMenuMobileOuterPadding: 20px;
  --StartMenuMobileInnerColor: hsl(0, 0%, 75%);
  --StartMenuMobileInnerBkgr: hsla(0, 0%, 0%, 0.5);
  --StartMenuMobileInnerImage: none;
  --StartMenuMobileInnerPosition: none;
  --StartMenuMobileInnerBkgrSize: none;
  --StartMenuMobileInnerBkgrRepeat: none;
  --StartMenuMobileInnerBackdropFilter: none;
  --StartMenuMobileInnerBorderColor: hsla(0, 0%, 0%, 0);
  --StartMenuMobileInnerBorderWidth: 0px;
  --StartMenuMobileInnerBorderType: none;
  --StartMenuMobileInnerBorderRadius: 20px;
  --StartMenuMobileButtonBkgr: hsla(0, 0%, 0%, 0);
  --StartMenuMobileButtonBkgrHover: hsla(0, 0%, 0%, 0);
  --StartMenuMobileButtonBkgrActive: hsla(0, 0%, 0%, 0);
  --StartMenuMobileButtonIconSize: 90px;
  --StartMenuMobileButtonSize: 150px;
  --StartMenuMobileButtonMargin: 0px;
  --StartMenuMobileButtonPadding: 0px;
  --StartMenuMobileButtonBorderWidth: 0px;
  --StartMenuMobileButtonBorderType: none;
  --StartMenuMobileButtonBorderColor: hsla(0, 0%, 0%, 0);
  --StartMenuMobileButtonBorderRadius: 0px;
  --StartMenuMobileButtonFontColor: hsl(0, 0%, 75%);
  --StartMenuMobileButtonFontSize: 16px;
  --StartMenuMobileButtonFontDisplay: visible;

  --LiveAppsBkgr: hsla(0, 0%, 0%, 0);
  --LiveAppsBkgrHover: hsla(0, 0%, 100%, 0.25);
  --LiveAppsBkgrActive: hsla(0, 0%, 100%, 0.5);
  --LiveAppsFontColor: hsl(0, 0%, 75%);
  --LiveAppsFontColorHover: hsl(0, 0%, 75%);
  --LiveAppsFontColorActive: hsl(0, 0%, 75%);
  --LiveAppsFontVisibility: none;
  --LiveAppsFontSize: 16px;
  --LiveAppsIconSize: 28px;
  --LiveAppsHeight: 36px;
  --LiveAppsMargin: 0px;
  --LiveAppsPadding: 3px;
  --LiveAppsBorderWidth: 0px;
  --LiveAppsBorderColor: hsla(0, 0%, 0%, 0);
  --LiveAppsBorderType: solid;
  --LiveAppsBorderRadius: 0px;

  --TaskbarTrayButtonBkgr: hsla(0, 0%, 0%, 0);
  --TaskbarTrayButtonBkgrHover: hsla(0, 0%, 100%, 0.25);
  --TaskbarTrayButtonBkgrActive: hsla(0, 0%, 100%, 0.5);
  --TaskbarTrayButtonColor: hsl(0, 0%, 75%);
  --TaskbarTrayButtonColorHover: hsl(0, 0%, 75%);
  --TaskbarTrayButtonColorActive: hsl(0, 0%, 75%);
  --TaskbarTrayButtonMargin: 0px;
  --TaskbarTrayButtonPadding: 0px;
  --TaskbarTrayButtonBorderWidth: 0px;
  --TaskbarTrayButtonBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarTrayButtonBorderType: solid;
  --TaskbarTrayButtonBorderRadius: 0px;

  --TaskbarTrayBkgr: hsla(0, 0%, 0%, 0);
  --TaskbarTrayMargin: 0px;
  --TaskbarTrayPadding: 0px;
  --TaskbarTrayBorderWidth: 0px;
  --TaskbarTrayBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarTrayBorderType: solid;
  --TaskbarTrayBorderRadius: 0px;
  
  --TaskbarWindowBkgrImage: none;
  --TaskbarWindowBkgrPosition: none;
  --TaskbarWindowBkgrSize: none;
  --TaskbarWindowBkgrRepeat: none;
  --TaskbarWindowBackdropFilter: none;
  --TaskbarWindowBkgr: hsla(0, 0%, 0%, 0.9);
  --TaskbarWindowPadding: 0px;
  --TaskbarWindowBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarWindowBorderWidth: 0px;
  --TaskbarWindowBorderType: solid;
  --TaskbarWindowBorderRadius: 0px;
  --TaskbarWindowShadowXOffset: 2px;
  --TaskbarWindowShadowYOffset: 2px;
  --TaskbarWindowShadowBlur: 5px;
  --TaskbarWindowShadowSpread: 0px;
  --TaskbarWindowShadowColor: hsla(0, 0%, 0%, 0.5);
  --TaskbarWindowHeaderBkgr: hsla(0, 0%, 0%, 0);
  --TaskbarWindowHeaderColor: hsl(0, 0%, 75%);
  --TaskbarWindowHeaderMargin: 0px;
  --TaskbarWindowHeaderPadding: 0px;
  --TaskbarWindowHeaderBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarWindowHeaderBorderWidth: 0px;
  --TaskbarWindowHeaderBorderType: solid;
  --TaskbarWindowHeaderBorderRadius: 0px;
  --TaskbarWindowNavBkgr: hsla(0, 0%, 0%, 0.5);
  --TaskbarWindowNavColor: hsl(0, 0%, 75%);
  --TaskbarWindowNavMargin: 0px;
  --TaskbarWindowNavPadding: 0px;
  --TaskbarWindowNavBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarWindowNavBorderWidth: 0px;
  --TaskbarWindowNavBorderType: solid;
  --TaskbarWindowNavBorderRadius: 0px;
  --TaskbarWindowBodyBkgr: hsla(0, 0%, 0%, 0);
  --TaskbarWindowBodyColor: hsl(0, 0%, 75%);
  --TaskbarWindowBodyMargin: 0px;
  --TaskbarWindowBodyPadding: 0px;
  --TaskbarWindowBodyBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarWindowBodyBorderWidth: 0px;
  --TaskbarWindowBodyBorderType: solid;
  --TaskbarWindowBodyBorderRadius: 0px;
  --TaskbarWindowFooterBkgr: hsla(0, 0%, 0%, 0.5);
  --TaskbarWindowFooterColor: hsl(0, 0%, 75%);
  --TaskbarWindowFooterMargin: 0px;
  --TaskbarWindowFooterPadding: 0px;
  --TaskbarWindowFooterBorderColor: hsla(0, 0%, 0%, 0);
  --TaskbarWindowFooterBorderWidth: 0px;
  --TaskbarWindowFooterBorderType: solid;
  --TaskbarWindowFooterBorderRadius: 0px;

  --MobileTrayColor: hsl(0, 0%, 75%);
  --MobileTrayHeight: 40px;
  --MobileTrayVerticalPadding: 0px;
  --MobileTrayHorizontalPadding: 0px;
  --MobileTrayHorizontalBorderWidth: 0px;
  --MobileTrayHorizontalBorderColor: hsla(0, 0%, 0%, 0);
  --MobileTrayHorizontalBorderType: solid;
  --MobileTrayHorizontalBorderRadius: 0px;
  --MobileTrayIconSize: 25px;
  --MobileTrayFontSize: 15px;

  --MobileTrayFullBkgrImage: none;
  --MobileTrayFullBkgrPosition: none;
  --MobileTrayFullBkgrSize: none;
  --MobileTrayFullBkgrRepeat: none;
  --MobileTrayFullBackdropFilter: none;
  --MobileTrayFullBkgr: hsla(0, 0%, 0%, 0.8);
  --MobileTrayFullColor: hsl(0, 0%, 75%);

  --MobileTrayFullButtonBkgr: hsla(0, 0%, 0%, 0);
  --MobileTrayFullButtonSize: 80px;
  --MobileTrayFullButtonMargin: 5px;
  --MobileTrayFullButtonPadding: 5px;
  --MobileTrayFullButtonBorderColor: hsla(0, 0%, 0%, 0);
  --MobileTrayFullButtonBorderWidth: 0px;
  --MobileTrayFullButtonBorderType: solid;
  --MobileTrayFullButtonBorderRadius: 0px;
  --MobileTrayFullButtonIconSize: 40px;
  --MobileTrayFullButtonFontSize: 15px;
  --MobileTrayFullSystemJustified: right;
  --MobileTrayFullSystemAlign: top;
  --MobileTrayFullSystemButtonSize: 40px;
  --MobileTrayFullSystemButtonIconSize: 30px;
  --MobileTrayFullClockFontSize: 20px;
  --MobileTrayFullClockPadding: 10px;
  --MobileTrayFullClockColor: hsl(0, 0%, 75%);
}

#root{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--DesktopBkgrColor);
  background-image: var(--DesktopBkgrImage);
  background-position: var(--DesktopBkgrPosition);
  background-size: var(--DesktopBkgrSize);
  background-repeat: var(--DesktopBkgrRepeat);
  background-attachment: var(--DesktopBkgrAttachment);
  font-family: var(--GeneralFontFamily);
  text-align: center;
  overflow: hidden;
  z-index: 0;
}

html,
body {
    overscroll-behavior-y: contain;
}

body {
  background-color: var(--DesktopBkgrColor);
  overscroll-behavior: contain;
}

body>* {
  font-family: var(--GeneralFontFamily);
}

body>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

vertical-rect {
  width: 0px;
  border: solid 1px var(--GeneralBorderColor);
}

hr {
  border: 1px solid var(--GeneralBorderColor);
}

drop-down {
  position: relative;
  background: inherit;
}

button {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: var(--GeneralButtonFontColor);
  font-family: inherit;
  background: none;
  margin: 1px;
  transition: 0.2s;
}

button:hover:enabled {
  background-color: var(--GeneralButtonColorHover);
  cursor: pointer;
}

button:active:enabled {
  background: var(--GeneralButtonColorActive);
  cursor: pointer;
}

button:disabled {
  color: var(--GeneralButtonFontColorDisabled);
  cursor: not-allowed;
}

.buttonActive {
  background: var(--GeneralButtonColorHover);
  text-decoration: underline;
}

.buttonActiveRed:hover:enabled {
  background: red;
  text-decoration: underline;
}

.expandHeight {
  max-height: 10000px;
}

.collapseHeight {
  max-height: 0px;
}

.expandWidth {
  max-width: 10000px;
}

.collapseWidth {
  max-width: 0px;
}

.rotate180 {
  transform: rotate(180deg);
}

select {
  cursor: pointer;
}

input[type="number"] {
  width: 50px;
}

input[type="color"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

#scenario {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}