:root {
  --GeneralButtonFontColor: hsl(0, 0%, 75%);
  --GeneralButtonFontColorDisabled: hsl(0, 0%, 50%);
  --GeneralButtonColorHover: hsla(0, 0%, 100%, 0.2);
  --GeneralButtonColorActive: hsla(0, 0%, 100%, 0.5);
  --GeneralFontFamily: Monospace;
  --GeneralBorderColor: hsl(0, 0%, 41%);

  --DesktopBkgrColor: hsl(210, 100%, 34%);
  --DesktopBkgrImage: none;
  --DesktopBkgrPosition: "top left";
  --DesktopBkgrSize: "auto";
  --DesktopBkgrRepeat: "no-repeat";
  --DesktopBkgrAttachment: "fixed";
  --DesktopFontColor: hsl(0, 0%, 100%);
  --DesktopFontSize: 16px;
  --DesktopIconSize: 80px;

  --WindowBkgr: none;
  --WindowBkgrColor: hsla(0, 0%, 18%,1);
  --WindowBkgrColorInactive: hsla(0, 0%, 0%,1);
  --WindowFontColor: hsl(0, 0%, 75%);
  --WindowFontColorInactive: hsl(0, 0%, 50%);
  --WindowFontSize: 32px;
  --WindowBorderColor: hsla(0, 0%, 18%, 1);
  --WindowBorderColorInactive: hsla(0, 0%, 18%, 1);
  --WindowBorderWidth: 2px;
  --WindowBorderRadius: 0px;
  --WindowBorderType: solid;
  --WindowTopBarFlexDirection: row;
  --WindowTopBarBkgrColor: hsla(0, 0%, 18%, 1);
  --WindowTopBarBkgrColorInactive: hsla(0, 0%, 5%, 1);
  --WindowTopBarHeight: 40px;
  --WindowTopBarIconSize: 34px;
  --WindowTopBarFontSize: 32px;
  --WindowTopBarFontAlign: left;
  --WindowTopBarFontColor: hsl(0, 0%, 75%);
  --WindowTopBarFontColorInactive: hsl(0, 0%, 50%);
  --WindowShadowXOffset: 2px;
  --WindowShadowYOffset: 2px;
  --WindowShadowBlur: 5px;
  --WindowShadowSpread: 0px;
  --WindowShadowColor: hsla(0, 0%, 0%, 0.5);

  --DialogBkgrColor: hsl(0, 0%, 18%);
  --DialogBorderColor: hsla(0, 0%, 50%, 1);
  --DialogBorderWidth: 1px;
  --DialogBorderRadius: 0px;
  --DialogBorderType: solid;
  --DialogInfoFontColor: hsl(0, 0%, 75%);
  --DialogInfoFontSize: 16px;
  --DialogTopBarBkgr: hsl(0, 0%, 41%);
  --DialogTopBarFontSize: 20px;
  --DialogTopBarFontColor: rgb(191, 191, 191);
  --DialogButtonBkgr: hsl(0, 0%, 18%);
  --DialogButtonFontColor: hsl(0, 0%, 75%);
  --DialogButtonFontSize: 16px;
  --DialogButtonBorderColor: hsl(0, 0%, 50%);
  --DialogButtonBorderWidth: 1px;
  --DialogButtonBorderRadius: 0px;
  --DialogButtonBorderType: solid;

  --ContextMenuBkgr: hsla(0, 0%, 18%, 0.95);
  --ContextMenuFontColor: hsl(0, 0%, 75%);
  --ContextMenuFontSize: 16px;
  --ContextMenuBorderColor: hsl(0, 0%, 18%);
  --ContextMenuBorderWidth: 1px;
  --ContextMenuBorderRadius: 0px;
  --ContextMenuBorderType: solid;
  --ContextMenuButtonHoverBkgr: hsla(0, 0%, 100%, 0.2);

  --TaskbarBkgr: hsla(0, 0%, 0%, 0.8);
  --TaskbarHeight: 36px;
  --TaskbarIconSize: 28px;
  --TaskbarFontColor: hsl(0, 0%, 75%);
  --TaskbarFontSize: 13px;
  --TaskbarClockColor: hsl(0, 0%, 75%);
  --TaskbarWeatherColor: hsl(0, 0%, 75%);

  --StartButtonColor: hsl(0, 0%, 75%);
  --StartButtonActiveColor: hsl(195, 100%, 38%);
  --StartMenuBkgr: hsla(0, 0%, 0%, 0.9);
  --StartMenuFontColor: hsl(0, 0%, 75%);
  --StartMenuFontSize: 24px;
  --StartMenuIconSize: 24px;

  --WeatherBkgr: hsla(0, 0%, 10%, 0.95);
  --WeatherFontColor: hsl(0, 0%, 75%);

  --ClockBkgr: hsla(0, 0%, 10%, 0.95);
  --ClockFontColor: hsl(0, 0%, 75%);

  --ReflectiveFXBkgrImage: linear-gradient(60deg,
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15),
  hsla(0, 0%, 0%, 0.15),
  hsla(0,0%,100%,0.15));
  --ReflectiveFXBkgrPosition: "top left";
  --ReflectiveFXBkgrRepeat:"repeat";
  --ReflectiveFXBkgrSize:"2000px 2000px";

  --MetallicFXBkgrImage: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .05) 7%),
  -webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.25%),
  -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.07) 1.8%),
  -webkit-repeating-linear-gradient(45deg, hsla(0, 0%, 100%, 0.1) 0%, hsla(0, 0%, 0%, 0.1) 10%, hsla(0, 0%, 100%, 0.1) 20%);
  --MetallicFXBkgrPosition: "top left";
  --MetallicFXBkgrRepeat: "repeat";
  --MetallicFXBkgrSize: "contain";




  background-color: var(--DesktopBkgrColor);
  background-image: var(--DesktopBkgrImage);
  background-position: var(--DesktopBkgrPosition);
  background-size: var(--DesktopBkgrSize);
  background-repeat: var(--DesktopBkgrRepeat);
  background-attachment: var(--DesktopBkgrAttachment);
  font-family: var(--GeneralFontFamily);
  text-align: center;
  overflow: hidden;
}

#root{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--DesktopBkgrColor);
}

body>* {
  font-family: var(--GeneralFontFamily);
}

body>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

vertical-rect {
  width: 0px;
  border: solid 1px var(--GeneralBorderColor);
}

hr {
  border: 1px solid var(--GeneralBorderColor);
}

drop-down {
  position: relative;
  background: inherit;
}

button {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: var(--GeneralButtonFontColor);
  font-family: inherit;
  background: none;
  margin: 1px;
  transition: 0.2s;
}

button:hover:enabled {
  background-color: var(--GeneralButtonColorHover);
  cursor: pointer;
}

button:active:enabled {
  background: var(--GeneralButtonColorActive);
  cursor: pointer;
}

button:disabled {
  color: var(--GeneralButtonFontColorDisabled);
  cursor: not-allowed;
}

.buttonActive {
  background: var(--GeneralButtonColorHover);
}

.buttonActiveRed:hover:enabled {
  background: red;
}

.expandHeight {
  max-height: 10000px;
}

.collapseHeight {
  max-height: 0px;
}

.expandWidth {
  max-width: 10000px;
}

.collapseWidth {
  max-width: 0px;
}

.rotate180 {
  transform: rotate(180deg);
}

select {
  cursor: pointer;
}

input[type="number"] {
  width: 50px;
}

input[type="color"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

#scenario {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}