:root {
  --GeneralButtonFontColor: hsl(0, 0%, 75%);
  --GeneralButtonFontColorDisabled: hsl(0, 0%, 50%);
  --GeneralButtonColorHover: hsla(0, 0%, 100%, 0.2);
  --GeneralButtonColorActive: hsla(0, 0%, 100%, 0.5);
  --GeneralFontFamily: Monospace;
  --GeneralBorderColor: hsl(0, 0%, 41%);

  --DesktopBkgrColor: hsl(210, 100%, 34%);
  --DesktopBkgrImage: none;
  --DesktopBkgrPosition: "top left";
  --DesktopBkgrSize: "auto";
  --DesktopBkgrRepeat: "no-repeat";
  --DesktopBkgrAttachment: "fixed";
  --DesktopFontColor: hsl(0, 0%, 100%);
  --DesktopFontSize: 16px;
  --DesktopIconSize: 80px;

  --WindowBkgrImage: none;
  --WindowBkgrPosition: none;
  --WindowBkgrSize: none;
  --WindowBkgrRepeat: none;
  --WindowBackdropFilter: none;
  --WindowBkgrColor: hsla(0, 0%, 18%,1);
  --WindowBkgrColorInactive: hsla(0, 0%, 0%,1);
  --WindowFontColor: hsl(0, 0%, 75%);
  --WindowFontColorInactive: hsl(0, 0%, 50%);
  --WindowFontSize: 32px;
  --WindowBorderColor: hsla(0, 0%, 18%, 1);
  --WindowBorderColorInactive: hsla(0, 0%, 18%, 1);
  --WindowBorderWidth: 2px;
  --WindowBorderRadius: 0px;
  --WindowBorderType: solid;
  --WindowTopBarFlexDirection: row;
  --WindowTopBarBkgrColor: hsla(0, 0%, 18%, 1);
  --WindowTopBarBkgrColorInactive: hsla(0, 0%, 5%, 1);
  --WindowTopBarHeight: 40px;
  --WindowTopBarIconSize: 34px;
  --WindowTopBarFontSize: 32px;
  --WindowTopBarFontAlign: left;
  --WindowTopBarFontColor: hsl(0, 0%, 75%);
  --WindowTopBarFontColorInactive: hsl(0, 0%, 50%);
  --WindowShadowXOffset: 2px;
  --WindowShadowYOffset: 2px;
  --WindowShadowBlur: 5px;
  --WindowShadowSpread: 0px;
  --WindowShadowColor: hsla(0, 0%, 0%, 0.5);
  --WindowPadding: 0px;

  --WindowMenuFontColor: hsl(0, 0%, 75%);
  --WindowMenuFontSize: 16px;
  --WindowMenuNavBkgr: hsla(0, 0%, 0%, 0);
  --WindowMenuNavBkgrInactive: hsla(0, 0%, 0%, 0);
  --WindowMenuNavButtonBkgr: hsla(0, 0%, 18%, 0.95);
  --WindowMenuNavButtonColor: hsl(0, 0%, 75%);
  --WindowMenuNavButtonBorderColor: hsl(0, 0%, 50%);
  --WindowMenuNavButtonBorderWidth: 1px;
  --WindowMenuNavButtonBorderRadius: 0px;
  --WindowMenuNavButtonBorderType: solid;
  --WindowMenuNavButtonHoverBkgr: hsla(0, 0%, 100%, 0.2);
  --WindowMenuNavButtonHoverFontColor: hsl(0, 0%, 75%);
  --WindowMenuBkgr: hsla(0, 0%, 18%, 0.95);
  --WindowMenuBorderColor: hsl(0, 0%, 50%);
  --WindowMenuBorderWidth: 1px;
  --WindowMenuBorderRadius: 0px;
  --WindowMenuBorderType: solid;
  --WindowMenuHoverColor: hsl(0, 0%, 75%);
  --WindowMenuHoverBkgr: hsla(0, 0%, 100%, 0.2);

  --AppFontColor: hsl(0, 0%, 75%);
  --AppFontColorInactive: hsl(0, 0%, 50%);
  --AppBkgrColor: hsla(0, 0%, 18%, 1);
  --AppBkgrColorInactive: hsla(0, 0%, 5%, 1);
  --AppBorderColor: hsla(0, 0%, 50%);
  --AppBorderColorInactive: hsla(0, 0%, 25%);
  --AppBorderWidth: 1px;
  --AppBorderRadius: 0px;
  --AppBorderType: solid;

  --DialogBkgrImage: none;
  --DialogBkgrPosition: none;
  --DialogBkgrSize: none;
  --DialogBkgrRepeat: none;
  --DialogBackdropFilter: none;
  --DialogBkgrColor: hsla(0, 0%, 18%, 1);
  --DialogBorderColor: hsla(0, 0%, 50%, 1);
  --DialogBorderWidth: 1px;
  --DialogBorderRadius: 0px;
  --DialogBorderType: solid;
  --DialogPadding: 0px;
  --DialogInfoBkgr: hsla(0, 0%, 18%, 1);
  --DialogInfoFontColor: hsl(0, 0%, 75%);
  --DialogInfoFontSize: 16px;
  --DialogInfoBorderColor: hsla(0, 0%, 18%, 1);
  --DialogInfoBorderWidth: 0px;
  --DialogInfoBorderRadius: 0px;
  --DialogInfoBorderType: solid;
  --DialogTopBarBkgr: hsla(0, 0%, 41%, 1);
  --DialogTopBarFontSize: 20px;
  --DialogTopBarFontColor: rgb(191, 191, 191);
  --DialogButtonBarBkgr: hsla(0, 0%, 0%, 0);
  --DialogButtonBkgr: hsl(0, 0%, 18%);
  --DialogButtonFontColor: hsl(0, 0%, 75%);
  --DialogButtonFontSize: 16px;
  --DialogButtonBorderColor: hsl(0, 0%, 50%);
  --DialogButtonBorderWidth: 1px;
  --DialogButtonBorderRadius: 0px;
  --DialogButtonBorderType: solid;

  --ContextMenuBkgr: hsla(0, 0%, 18%, 0.95);
  --ContextMenuFontColor: hsl(0, 0%, 75%);
  --ContextMenuFontSize: 16px;
  --ContextMenuBorderColor: hsl(0, 0%, 18%);
  --ContextMenuBorderWidth: 1px;
  --ContextMenuBorderRadius: 0px;
  --ContextMenuBorderType: solid;
  --ContextMenuButtonHoverColor: hsl(0, 0%, 75%);
  --ContextMenuButtonHoverBkgr: hsla(0, 0%, 100%, 0.2);
  --ContextMenuPadding: 5px;

  --TaskbarBkgrImage: none;
  --TaskbarBkgrPosition: none;
  --TaskbarBkgrSize: none;
  --TaskbarBkgrRepeat: none;
  --TaskbarBackdropFilter: none;
  --TaskbarBkgr: hsla(0, 0%, 0%, 0.8);
  --TaskbarHeight: 36px;
  --TaskbarIconSize: 28px;
  --TaskbarFontColor: hsl(0, 0%, 75%);
  --TaskbarFontSize: 13px;
  --TaskbarClockColor: hsl(0, 0%, 75%);
  --TaskbarWeatherColor: hsl(0, 0%, 75%);
  --TaskbarVerticalBorderWidth: 2px;
  --TaskbarVerticalBorderColor: hsla(0, 0%, 50%, 1);
  --TaskbarVerticalBorderType: solid;
  --TaskbarHorizontalBorderWidth: 0px;
  --TaskbarHorizontalBorderColor: hsla(0, 0%, 50%, 1);
  --TaskbarHorizontalBorderType: solid;

  --StartButtonBkgr: hsla(0, 0%, 0%, 0);
  --StartButtonBkgrHover: hsla(0, 0%, 100%, 0.25);
  --StartButtonBkgrActive: hsla(0, 0%, 100%, 0.5);
  --StartButtonIconSize: 28px;
  --StartButtonHeight: 28px;
  --StartButtonMargin: 0px;
  --StartButtonPadding: 0px;
  --StartButtonBorderWidth: 0px;
  --StartButtonBorderType: none;
  --StartButtonBorderColor: hsla(0, 0%, 0%, 0);
  --StartButtonBorderRadius: 0px;
  --StartButtonFontColor: hsl(0, 0%, 75%);
  --StartButtonFontSize: 16px;
  --StartButtonFontVisibility: none;

  --StartMenuBkgr: hsla(0, 0%, 0%, 0.9);
  --StartMenuFontColor: hsl(0, 0%, 75%);
  --StartMenuFontSize: 24px;
  --StartMenuIconSize: 24px;

  --WeatherBkgr: hsla(0, 0%, 10%, 0.95);
  --WeatherFontColor: hsl(0, 0%, 75%);

  --ClockBkgr: hsla(0, 0%, 10%, 0.95);
  --ClockFontColor: hsl(0, 0%, 75%);

  --TranslucentFXBkgrImage: linear-gradient(60deg,
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0,0%,100%,0.05),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.05),
  hsla(0, 0%, 0%, 0.05),
  hsla(0,0%,100%,0.05),
  hsla(0, 0%, 0%, 0.05),
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0,0%,100%,0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0, 0%, 0%, 0.1),
  hsla(0,0%,100%,0.1),
  hsla(0,0%,100%,0.1));
  --TranslucentFXBkgrPosition: top left;
  --TranslucentFXBkgrRepeat:repeat;
  --TranslucentFXBkgrSize:auto;
  --TranslucentFXBackdropFilter: blur(5px);


  --MetallicFXBkgrImage: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .05) 7%),
  -webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.25%),
  -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.07) 1.8%),
  -webkit-repeating-linear-gradient(45deg, hsla(0, 0%, 100%, 0.1) 0%, hsla(0, 0%, 0%, 0.1) 10%, hsla(0, 0%, 100%, 0.1) 20%);
  --MetallicFXBkgrPosition: top left;
  --MetallicFXBkgrRepeat: repeat;
  --MetallicFXBkgrSize: contain;
  --MetallicFXBackdropFilter: none;


  background-color: var(--DesktopBkgrColor);
  background-image: var(--DesktopBkgrImage);
  background-position: var(--DesktopBkgrPosition);
  background-size: var(--DesktopBkgrSize);
  background-repeat: var(--DesktopBkgrRepeat);
  background-attachment: var(--DesktopBkgrAttachment);
  font-family: var(--GeneralFontFamily);
  text-align: center;
  overflow: hidden;
}

#root{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--DesktopBkgrColor);
}

body>* {
  font-family: var(--GeneralFontFamily);
}

body>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

body>*>*>*>*>*>*>*>* {
  font-family: var(--GeneralFontFamily);
}

vertical-rect {
  width: 0px;
  border: solid 1px var(--GeneralBorderColor);
}

hr {
  border: 1px solid var(--GeneralBorderColor);
}

drop-down {
  position: relative;
  background: inherit;
}

button {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: var(--GeneralButtonFontColor);
  font-family: inherit;
  background: none;
  margin: 1px;
  transition: 0.2s;
}

button:hover:enabled {
  background-color: var(--GeneralButtonColorHover);
  cursor: pointer;
}

button:active:enabled {
  background: var(--GeneralButtonColorActive);
  cursor: pointer;
}

button:disabled {
  color: var(--GeneralButtonFontColorDisabled);
  cursor: not-allowed;
}

.buttonActive {
  background: var(--GeneralButtonColorHover);
}

.buttonActiveRed:hover:enabled {
  background: red;
}

.expandHeight {
  max-height: 10000px;
}

.collapseHeight {
  max-height: 0px;
}

.expandWidth {
  max-width: 10000px;
}

.collapseWidth {
  max-width: 0px;
}

.rotate180 {
  transform: rotate(180deg);
}

select {
  cursor: pointer;
}

input[type="number"] {
  width: 50px;
}

input[type="color"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

#scenario {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}