app-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: var(--WindowBorderWidth) var(--WindowBorderColor) var(--WindowBorderType);
  border-radius: var(--WindowBorderRadius);
  box-shadow: var(--WindowShadowXOffset) var(--WindowShadowYOffset) var(--WindowShadowBlur) var(--WindowShadowSpread) var(--WindowShadowColor);
  transition: 0.2s;
  box-sizing: border-box;
}
app-top-bar {
  display: flex;
  flex-direction: var(--WindowTopBarFlexDirection);
  align-items: center;
  height: var(--WindowTopBarHeight);
  width: 100%;
  border-bottom: 1px var(--GeneralBorderColor) solid;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}
app-top-bar>h1 {
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  margin:0;
  padding:0;
  font-size: var(--WindowTopBarFontSize);
  padding: 4px;
}
app-top-bar > svg {
  height: var(--WindowTopBarIconSize);
  width: var(--WindowTopBarIconSize);
  padding: 2px;
  flex-shrink: 0;
}
.appTopBarButtonFluent{
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: var(--GeneralButtonFontColor);
  font-family: inherit;
  background: none;
  margin: 1px;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 4px;
  padding: 2px;
}
.appTopBarButtonFluent:hover{
  background: rgba(128, 128, 128, 0.5);
}
.appTopBarButtonFluentRed:hover{
  background: red;
}
.appTopBarButtonFluent>svg {
  height: var(--WindowTopBarIconSize);
  width: var(--WindowTopBarIconSize);
  padding: 2px;
  color: var(--WindowFontColor);
}
.appTopBarButtonNewAqua{
  display: flex;
  flex-direction: column;
  border: 2px rgba(128, 128, 128, 0.5) solid;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-family: inherit;
  background: none;
  margin: 1px;
  transition: 0.2s;
  cursor: pointer;
  height: calc(var(--WindowTopBarIconSize)/3);
  width: calc(var(--WindowTopBarIconSize)/3);
  flex-shrink: 0;
  margin-right: calc(var(--WindowTopBarIconSize)/4);
  padding: 2px;
}
.appTopBarButtonNewAqua>* {
  color: transparent;
}
.appTopBarButtonNewAqua:hover{
  color:black;
}
.appTopBarButtonNewAquaRed{
  background: red;
}

.appTopBarButtonAquaRed{
  background-image: linear-gradient(hsl(0 0% 100% / 0.95), transparent 10px),
    linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
    radial-gradient(
      circle at 10px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    radial-gradient(
      circle at 0px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    linear-gradient(hsl(0, 94%, 50%), hsl(0, 51%, 62%));
  padding: calc(var(--WindowTopBarIconSize)/10) calc(var(--WindowTopBarIconSize)/10);
  background-size: 100%, calc(100% - 20px), 10px 10px, 10px 10px, 100%;
  background-position: top, top center, top left, top right, center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 100vw;
  position: relative;
  border: 2px var(--GeneralBorderColor) inset;
}

.appTopBarButtonAquaRed::before{
  content: "";
  position: absolute;
  z-index: -1;
  inset: -1px;
  margin-inline: auto;
  background: linear-gradient(hsl(0, 74%, 30%), hsl(0, 0%, 38%));
  border-radius: 100vw;
}

.appTopBarButtonNewAquaYellow{
  background: yellow;
}

.appTopBarButtonAquaYellow{
  background-image: linear-gradient(hsl(0 0% 100% / 0.95), transparent 10px),
    linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
    radial-gradient(
      circle at 10px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    radial-gradient(
      circle at 0px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    linear-gradient(hsl(61, 100%, 50%), hsl(61, 51%, 62%));
  padding: calc(var(--WindowTopBarIconSize)/10) calc(var(--WindowTopBarIconSize)/10);
  background-size: 100%, calc(100% - 20px), 10px 10px, 10px 10px, 100%;
  background-position: top, top center, top left, top right, center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 100vw;
  position: relative;
  border: 2px var(--GeneralBorderColor) inset;
}

.appTopBarButtonAquaYellow::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -1px;
  margin-inline: auto;
  background: linear-gradient(hsl(61, 74%, 30%), hsl(0, 0%, 38%));
  border-radius: 100vw;
}

.appTopBarButtonNewAquaGreen{
  background: green;
}

.appTopBarButtonAquaGreen{
  background-image: linear-gradient(hsl(0 0% 100% / 0.95), transparent 10px),
    linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
    radial-gradient(
      circle at 10px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    radial-gradient(
      circle at 0px 5px,
      hsl(0 0% 100% / 0.25) 5px,
      transparent 5px
    ),
    linear-gradient(hsl(135, 94%, 50%), hsl(136, 51%, 62%));
  padding: calc(var(--WindowTopBarIconSize)/10) calc(var(--WindowTopBarIconSize)/10);
  background-size: 100%, calc(100% - 20px), 10px 10px, 10px 10px, 100%;
  background-position: top, top center, top left, top right, center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 100vw;
  position: relative;
  border: 2px var(--GeneralBorderColor) inset;
}

.appTopBarButtonAquaGreen::before{
  content: "";
  position: absolute;
  z-index: -1;
  inset: -1px;
  margin-inline: auto;
  background: linear-gradient(hsl(133, 74%, 30%), hsl(0, 0%, 38%));
  border-radius: 100vw;
}


app-window>nav {
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--WindowFontColor);
  border-bottom: 1px var(--GeneralBorderColor) solid;
}
app-window>nav > button {
  border: solid 1px var(--GeneralBorderColor);
} 
drop-down>ul{
  display:grid;
  position: absolute;
  color:inherit;
  padding:0px;
  margin:0px; 
  background: rgba(45, 45, 45, 1);
  border: 1px var(--GeneralBorderColor) solid;
  z-index: 1;
  transition:0.2s;
  translate: 0px 30px;
}
app-window>nav>drop-down>ul{
  translate: 0px 20px;
}
drop-down>ul>li{
  list-style-type:none;
  margin-left:2px;
  margin-right:2px;
}
drop-down>ul>li>button{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  color: inherit;
  width: 100%;
  text-align: left;
  align-items: start;
  justify-content: space-between;
} 
drop-down>ul>li>button>kbd{
  opacity:0.5;
}
drop-down>ul>li>button>span{
  width:20px;
}
app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
app-container > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  font-size: 25px;
  color:var(--WindowFontColor);
  padding-left: 0;
  border-bottom: 1px var(--GeneralBorderColor) solid;
}
app-container > nav > button {
  position: relative;
  color: inherit;
  height: inherit;
  font-size: inherit;
  width: fit-content;
}
app-container > nav > drop-down {
  position: relative;
  color: inherit;
  height: inherit;
  font-size: inherit;
  width: fit-content;
}
app-container > nav > drop-down> button {
  position: relative;
  color: inherit;
  height: 32px;
  font-size: 16px;
  width: fit-content;
}
app-container > nav > button > input[type="color"] {
  width: 25px;
}
app-body {
  width: 100%;
  height: 100%;
}
app-dialog{
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10000;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: var(--DialogBorderWidth) var(--DialogBorderColor) var(--DialogBorderType);
  border-radius: var(--DialogBorderRadius);
  transition: 0.2s;
  background:var(--DialogBkgr);
  color:var(--DialogFontColor);
}
app-dialog>app-dialog-info{
  display:flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--DialogInfoFontSize);
  color: var(--DialogInfoFontColor);
  width:100%;
  height:100%;
  padding:10px;
}
app-dialog>app-dialog-actions{
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
}
app-dialog>app-dialog-actions>button{
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  margin:5px;
  padding: 5px;
  width:100%;
  color: var(--DialogButtonFontColor);
  background: var(--DialogButtonBkgr);
  font-size: var(--DialogButtonFontSize);
  border: var(--DialogButtonBorderWidth) var(--DialogButtonBorderColor) var(--DialogButtonBorderType);
  border-radius: var(--DialogButtonBorderRadius);
}

app-dialog-top-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  font-size: var(--DialogTopBarFontSize);
  color: var(--DialogTopBarFontColor);
  background: var(--DialogTopBarBkgr);
  border-bottom: solid 1px var(--DialogBorderColor);
}