taskbar-tray {
  display: flex;
  flex-direction: row;
  background: var(--TaskbarTrayBkgr);
  padding: var(--TaskbarTrayPadding);
  margin: var(--TaskbarTrayMargin);
  border: var(--TaskbarTrayBorderColor) var(--TaskbarTrayBorderWidth) var(--TaskbarTrayBorderType);
  border-radius: var(--TaskbarTrayBorderRadius);
}

taskbar-tray>button {
  color: var(--TaskbarTrayButtonColor);
  background: var(--TaskbarTrayButtonBkgr);
  margin: var(--TaskbarTrayButtonMargin);
  padding: var(--TaskbarTrayButtonPadding);
  border: var(--TaskbarTrayButtonBorderColor) var(--TaskbarTrayButtonBorderWidth) var(--TaskbarTrayButtonBorderType);
  border-radius: var(--TaskbarTrayButtonBorderRadius);
}

taskbar-tray>button:hover {
  color: var(--TaskbarTrayButtonColorHover);
  background: var(--TaskbarTrayButtonBkgrHover);
}

taskbar-tray>button:active {
  color: var(--TaskbarTrayButtonColorActive);
  background: var(--TaskbarTrayButtonBkgrActive);
}

taskbar-tray>button>svg {
  width: var(--TaskbarIconSize);
  height: var(--TaskbarIconSize);
}

mobile-tray {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: var(--MobileTrayHeight);
  order: -1;
  padding: var(--MobileTrayVerticalPadding) var(--MobileTrayHorizontalPadding);
  color: var(--MobileTrayColor);
  background-color: var(--MobileTrayBkgr);
  background-image: var(--MobileTrayImage);
  background-position: var(--MobileTrayBkgrPosition);
  background-size: var(--MobileTrayBkgrSize);
  background-repeat: var(--MobileTrayBkgrRepeat);
  backdrop-filter: var(--MobileTrayBackdropFilter);
  border-bottom: var(--MobileTrayHorizontalBorderWidth) var(--TMobileTrayHorizontalBorderColor) var(--MobileTrayHorizontalBorderType);
  border-radius: 0 0 var(--MobileTrayHorizontalBorderRadius) var(--MobileTrayHorizontalBorderRadius);
  cursor: grab;
  z-index:1;
}

mobile-tray>button {
  font-size: var(--MobileTrayFontSize);
  pointer-events: none;
}

mobile-tray>button>svg {
  width: var(--MobileTrayIconSize);
  height: var(--MobileTrayIconSize);
}

mobile-tray-fullscreen {
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  left:0;
  width:100%;
  height:calc(100% - var(--TaskbarHeight));
  box-sizing: border-box;
  padding-top: var(--MobileTrayHeight);
  padding-bottom: var(--MobileTrayHeight);
  color: var(--MobileTrayFullColor);
  background-color: var(--MobileTrayFullBkgr);
  background-image: var(--MobileTrayFullImage);
  background-position: var(--MobileTrayBFullkgrPosition);
  background-size: var(--MobileTrayFullBkgrSize);
  background-repeat: var(--MobileTrayFullBkgrRepeat);
  backdrop-filter: var(--MobileTrayFullBackdropFilter);
  border-top: var(--TaskbarHorizontalBorderWidth) var(--TaskbarHorizontalBorderColor) var(--TaskbarHorizontalBorderType);
  border-bottom: var(--MobileTrayHorizontalBorderWidth) var(--TMobileTrayHorizontalBorderColor) var(--MobileTrayHorizontalBorderType);
  border-radius: 0 0 var(--MobileTrayHorizontalBorderRadius) var(--MobileTrayHorizontalBorderRadius);
  transition: 0.3s;
}
mobile-tray-system{
  display: flex;
  flex-direction: row;
  justify-content: var(--MobileTrayFullSystemJustified);
  align-items: var(--MobileTrayFullSystemAligned);
  order: -1;
}

mobile-tray-system>button {
  height:var(--MobileTrayFullSystemButtonSize);
  width: var(--MobileTrayFullSystemButtonSize);
  font-size: var(--MobileTrayFullButtonFontSize);
  color: var(--MobileTrayFullColor);
  background: var(--MobileTrayFullButtonBkgr);
  margin: var(--MobileTrayFullButtonMargin);
  padding: var(--MobileTrayFullButtonPadding);
  border: var(--MobileTrayFullButtonBorderColor) var(--MobileTrayFullButtonBorderWidth) var(--MobileTrayFullButtonBorderType);
  border-radius: var(--MobileTrayFullButtonBorderRadius);
}

mobile-tray-system>button>svg {
  width: var(--MobileTrayFullSystemButtonIconSize);
  height: var(--MobileTrayFullSystemButtonIconSize);
}

mobile-tray-fullscreen-clock{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: var(--MobileTrayFullClockPadding);
  padding-bottom: var(--MobileTrayFullClockPadding);
}

mobile-tray-fullscreen-clock>button{
  font-size: var(--MobileTrayFullClockFontSize);
}

mobile-tray-fullscreen>div:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

mobile-tray-fullscreen>div>button {
  height:var(--MobileTrayFullButtonSize);
  width: var(--MobileTrayFullButtonSize);
  font-size: var(--MobileTrayFullButtonFontSize);
  color: var(--MobileTrayFullColor);
  background: var(--MobileTrayFullButtonBkgr);
  margin: var(--MobileTrayFullButtonMargin);
  padding: var(--MobileTrayFullButtonPadding);
  border: var(--MobileTrayFullButtonBorderColor) var(--MobileTrayFullButtonBorderWidth) var(--MobileTrayFullButtonBorderType);
  border-radius: var(--MobileTrayFullButtonBorderRadius);
}
mobile-tray-fullscreen>div>button>svg {
  width: var(--MobileTrayFullButtonIconSize);
  height: var(--MobileTrayFullButtonIconSize);
}