#arcadeContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  color:silver;
}
#arcadeContaier>*>*{
  background:black;
}
#gameMenu{
  background:black;
  color:silver;
}
.arcadeButtonOn{
  color:deepskyblue;
}
.arcadeButton{
  border: 1px silver solid;
  margin:1px;
  cursor:pointer;
}
.arcadeButton:active{
  color:deepskyblue;
}
#arcadeSelect {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  font-size: 18px;
  transition: 0.3s;
}
#arcadeCanvasContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: black;
}
#arcadeCanvasContainer > * {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px silver solid;
}
#arcadeScoreboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  text-align: left;
  border: 1px silver solid;
}
#arcadeScore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 5;
  font-size: 18px;
  color: deepskyblue;
}
#arcadePlayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 40px;
  cursor: pointer;
}
#arcadeControls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5pt;
  left:5pt;
  color:rgba(128, 128, 128, 0.514);
  font-size: 36pt;
}
#arcadeLeftButton {
  display: flex;
  width:48pt;
  height:48pt;
  justify-content: center;
  align-items: center;
  border-radius: 10% 50% 50% 10%;
  margin-right:-14pt;
}
#arcadeRightButton {
  display: flex;
  width:48pt;
  height:48pt;
  justify-content: center;
  align-items: center;
  border-radius: 50% 10% 10% 50%;
  margin-left:-14pt;
}
#arcadeUpButton {
  display: flex;
  width:48pt;
  height:48pt;
  justify-content: center;
  align-items: center;
  border-radius: 10% 10% 50% 50%;
  margin-bottom: 28pt;
}
#arcadeDownButton {
  display: flex;
  width:48pt;
  height:48pt;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 10% 10%;
}
