start-list {
    position: absolute;
    display: flex;
    flex-direction: var(--StartMenuFlexDirection);
    left: var(--StartMenuBorderWidth);
    bottom: var(--TaskbarHeight);
    overflow: hidden;
    color: var(--StartMenuFontColor);
    max-height: 0px;
    padding:0px;
    border-width: 0px;
    border-color: var(--StartMenuBorderColor);
    border-style: var(--StartMenuBorderType);
    border-radius: var(--StartMenuBorderRadius);
    background-color: var(--StartMenuBkgrColor);
    background-image: var(--StartMenuBkgrImage);
    background-position: var(--StartMenuBkgrPosition);
    background-size: var(--StartMenuBkgrSize);
    background-repeat: var(--StartMenuBkgrRepeat);
    backdrop-filter: var(--StartMenuBackdropFilter);
    transition: 0.5s ease-in-out 0s,
        padding 0s ease-in-out 0.5s,
        max-height 0.5s ease-in-out 0s,
        border-width 0s linear 0.5s;
}

.startListOpen {
    padding: var(--StartMenuPadding);
    max-height: 10000px;
    border-width: var(--StartMenuBorderWidth);
    transition: 0.5s ease-in-out 0s,
    padding 0s ease-in-out 0s,
    max-height 0.5s ease-in-out 0s,
    border-width 0s linear 0s;
}

start-list>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: var(--StartMenuPrimaryBkgr);
    margin: var(--StartMenuPrimaryMargin);
    padding: var(--StartMenuPrimaryPadding);
    border: var(--StartMenuPrimaryBorderWidth) var(--StartMenuPrimaryBorderColor) var(--StartMenuPrimaryBorderType);
    border-radius: var(--StartMenuPrimaryBorderRadius);
}

start-list>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}

start-list>ul>li>button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 2px;
    color: var(--StartMenuPrimaryFontColor);
}

start-list>ul>li>button:hover:enabled {
    color: var(--StartMenuPrimaryFontColorHover);
    background: var(--StartMenuPrimaryBkgrHover);
}

start-list>ul>li>button:active:enabled {
    color: var(--StartMenuPrimaryFontColorActive);
    background: var(--StartMenuPrimaryBkgrActive);
}

start-list>ul>li>button>svg {
    height: var(--StartMenuPrimaryIconSize);
    width: var(--StartMenuPrimaryIconSize);
}

start-list>ul>li>button>span {
    padding-left: 10px;
    font-size: var(--StartMenuPrimaryFontSize);
}

start-list>div {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    box-sizing: border-box;
    padding: var(--StartMenuSecondaryPadding);
    margin: var(--StartMenuSecondaryMargin);
    border: var(--StartMenuSecondaryBorderWidth) var(--StartMenuSecondaryBorderColor) var(--StartMenuSecondaryBorderType);
    border-radius: var(--StartMenuSecondaryBorderRadius);
    background: var(--StartMenuSecondaryBkgr);
    margin-bottom: 2px;
    transition: 0.3s;
    transition-delay: 0.3s;
}

start-list>div>button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width:100%;
    font-size: var(--StartMenuSecondaryFontSize);
    color: var(--StartMenuSecondaryFontColor);
    padding: 2px;
}

start-list>div>button:hover:enabled {
    color: var(--StartMenuSecondaryFontColorHover);
    background: var(--StartMenuSecondaryBkgrHover);
}

start-list>div>button:active:enabled {
    color: var(--StartMenuSecondaryFontColorActive);
    background: var(--StartMenuSecondaryBkgrActive);
}

start-list>div>button>svg {
    width: var(--StartMenuSecondaryIconSize);
    height: var(--StartMenuSecondaryIconSize);
}

start-list>div>button>span {
    display: var(--StartMenuSecondaryFontVisibility);
    padding-left: 10px;
}