start-button {
    display: flex;
    align-items: end;
    justify-content: center;
}

start-button>button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--StartButtonHeight);
    box-sizing: border-box;
    background-color: var(--StartButtonBkgr);
    margin: var(--StartButtonMargin);
    padding: var(--StartButtonPadding);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) var(--StartButtonBorderType);
    border-radius: var(--StartButtonBorderRadius);
}

start-button>button:hover:enabled {
    background-color: var(--StartButtonBkgrHover);
}

start-button>button:active:enabled {
    background-color: var(--StartButtonBkgrActive);
}

start-button>button>span {
    display: var(--StartButtonFontVisibility);
    color: var(--StartButtonFontColor);
    font-size: var(--StartButtonFontSize);
}

start-button>button>svg {
    isolation: isolate;
    width: var(--StartButtonIconSize);
    height: var(--StartButtonIconSize);
}

start-button>button>svg>.hex {
    transform-box: fill-box;
    transform-origin: center;
}

start-button>button:hover>svg>.hex1 {
    fill: #FF0000;
}

start-button>button:hover>svg>.hex2 {
    fill: #00FF00;
}

start-button>button:hover>svg>.hex3 {
    fill: #0000FF;
}

/*------------------------------------------------------------*/
/*-----------------------Classic Button-----------------------*/
/*------------------------------------------------------------*/

.startButtonClassicActive {
    background-color: var(--StartButtonBkgrActive);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) inset;
}

.startButtonClassic:active:enabled {
    background-color: var(--StartButtonBkgrActive);
    border: var(--StartButtonBorderWidth) var(--StartButtonBorderColor) inset;
}

.startButtonClassic>svg>.hex1 {
    fill: #FF0000;
}

.startButtonClassic>svg>.hex2 {
    fill: #00FF00;
}

.startButtonClassic>svg>.hex3 {
    fill: #0000FF;
}

/*------------------------------------------------------------*/
/*------------------------Aqua Button-------------------------*/
/*------------------------------------------------------------*/

/*All styling for this button is done by variables and svg definitions*/

/*------------------------------------------------------------*/
/*------------------------Aero Button-------------------------*/
/*------------------------------------------------------------*/

.startButtonAero {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    border-radius:50%;
    border: 1px hsla(216, 47%, 53%, 1) solid;
    box-shadow: 0 0 0px 0px hsla(0, 0%, 100%, 0.5) inset;
    transition: 0.5s;
}

.startButtonAero>svg>.hex1 {
    fill: #FF0000;
}

.startButtonAero>svg>.hex2 {
    fill: #00FF00;
}

.startButtonAero>svg>.hex3 {
    fill: #0000FF;
}

.startButtonAero:hover:enabled {
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.5) inset;
}

.startButtonAero:active:enabled {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.75) inset;
}

.startButtonAeroActive {
    background: linear-gradient(#0000 30%, #042c8b 70%, #80f1f9),
        radial-gradient(circle, #3069b2, #bbc6e0 70.7%);
    box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, 0.75) inset;
}