start-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: var(--TaskbarHeight);
    overflow: hidden;
    transition: 1s ease-in-out 0s;
    color: var(--StartMenuFontColor);
    padding: var(--StartMenuPadding);
    border: var(--StartMenuBorderWidth) var(--StartMenuBorderColor) var(--StartMenuBorderType);
    border-radius: var(--StartMenuBorderRadius);
    background-color: var(--StartMenuBkgrColor);  
    background-image: var(--StartMenuBkgrImage);
    background-position: var(--StartMenuBkgrPosition);
    background-size: var(--StartMenuBkgrSize);
    background-repeat: var(--StartMenuBkgrRepeat);
    backdrop-filter: var(--StartMenuBackdropFilter);
    left:0;
}

start-list>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: var(--StartMenuPrimaryBkgr);
    margin: var(--StartMenuPrimaryMargin);
    margin-left: calc(var(--StartMenuPrimaryIconSize) + 12px);
    padding: var(--StartMenuPrimaryPadding);
    border: var(--StartMenuPrimaryBorderWidth) var(--StartMenuPrimaryBorderColor) var(--StartMenuPrimaryBorderType);
    border-radius: var(--StartMenuPrimaryBorderRadius);
}

start-list>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}

start-list>ul>li>button {
    display: block;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: start;
    align-items: start;
    width: 100%;
    padding: 2px;
    font-size: var(--StartMenuPrimaryFontSize);
    color: var(--StartMenuPrimaryFontColor);
}

start-list>ul>li>button:hover:enabled {
    color: var(--StartMenuPrimaryFontColorHover);
    background: var(--StartMenuPrimaryBkgrHover);
}

start-list>ul>li>button:active:enabled {
    color: var(--StartMenuPrimaryFontColorActive);
    background: var(--StartMenuPrimaryBkgrActive);
}

start-list>ul>li>button>svg {
    width: var(--StartMenuPrimaryIconSize);
    height: var(--StartMenuPrimaryIconSize);
}

start-list>div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: calc(var(--StartMenuSecondaryIconSize) + 10px);
    height: 100%;
    box-sizing: border-box;
    padding: var(--StartMenuSecondaryPadding);
    margin: var(--StartMenuSecondaryMargin);
    border: var(--StartMenuSecondaryBorderWidth) var(--StartMenuSecondaryBorderColor) var(--StartMenuSecondaryBorderType);
    border-radius: var(--StartMenuSecondaryBorderRadius);
    background: var(--StartMenuSecondaryBkgr);
    margin-bottom: 2px;
    overflow-x: hidden;
    transition: 0.3s;
    transition-delay: 0.3s;
}

start-list>div:hover {
    width: 150px;
    background: var(--StartMenuBkgr);
}

start-list>div>button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 150px;
    font-size: var(--StartMenuSecondaryFontSize);
    color: var(--StartMenuSecondaryFontColor);
    padding: 4px;
}

start-list>div>button:hover:enabled {
    color: var(--StartMenuSecondaryFontColorHover);
    background: var(--StartMenuSecondaryBkgrHover);
}

start-list>div>button:active:enabled {
    color: var(--StartMenuSecondaryFontColorActive);
    background: var(--StartMenuSecondaryBkgrActive);
}

start-list>div>button>svg {
    width: var(--StartMenuSecondaryIconSize);
    height: var(--StartMenuSecondaryIconSize);
    padding-right: 10px;
}