calendar-date {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

calendar-date>div {
  font-size: "24px";
  font-weight: "bold";
}

calendar-clock {
  display: flex;
  flex-shrink: 2;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 2px;
}

calendar-container-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  background: var(--ClockBkgr);
  z-index: 20;
}

calendar-container-table>table {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1px;
  border: 1px gray solid;
  z-index: 0;
}

calendar-container-table>table>* {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin: 1px;
}

calendar-container-table>table>*>* {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

calendar-container-table>table>*>*>* {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  width: 30px;
  height: 100%;
  margin: 1px;
  background: var(--TaskbarWindowBkgr);
  z-index: 2;
}

calendar-container-table>table>tbody>tr>td {
  border: 1px rgb(69, 69, 69) solid;
}

calendar-container-table>table>*>*>*:hover {
  filter: invert(0.75);
}

.calendarDiffMonth {
  color: dimgray;
}

#calendar-hover {
  position: absolute;
  width: 80px;
  height: 80px;
  mask: radial-gradient(white, transparent, transparent);
  border-radius: 50%;
  z-index: 0;
  backdrop-filter: invert(1);
}

calendar-settings {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border-top: 1px gray solid;
  padding-top: 2px;
  padding: 1px;
  z-index: 2;
}

calendar-settings>div {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2px;
  padding-left: 5px;
}

calendar-settings>button{
  color:inherit;
}