
.appDialogButtonAero{
    background-color: var(--DialogButtonBkgr);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.2)0% 40%, hsla(0, 0%, 0%, 0.2) 60% 100%);
    font-size: var(--DialogButtonFontSize);
    border: var(--DialogButtonBorderWidth) var(--DialogButtonBorderColor) var(--DialogButtonBorderType);
    border-radius: var(--DialogButtonBorderRadius);
    box-shadow: 0 0 2px 0 hsla(0, 0%, 100%, 1) inset;
    padding-left:10px;
    padding-right:10px;
    min-width: 50px;
    transition: 0.2s;
}

.appDialogButtonAero:hover:enabled {
    background-color: var(--DialogButtonBkgr);  
    background-image: linear-gradient(hsla(190, 100%, 80%, 0.2) 0% 40%, hsla(190, 100%, 20%, 0.2) 60% 100%);
    box-shadow: 0 0 3px 2px hsla(190, 100%, 70%, 1) inset;
}

.appDialogButtonAero:active:enabled {
    background-color: var(--DialogButtonBkgr);  
    background-image: linear-gradient(hsla(190, 100%, 70%, 0) 0% 40%, hsla(190, 100%, 30%, 0) 60% 100%);
    box-shadow: 0 0 3px 2px hsla(190, 100%, 70%, 1) inset;
}